<footer role="contentinfo">
  <div class="wrap">
    <p>This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</p>

    <p>Hosted on <a href="https://github.com/18F/pages/">18F Pages</a>.
    The <a href="https://github.com/18F/guides-template/">18F Guides theme</a> is based on <a href="https://github.com/cfpb/docter/">DOCter</a> from <a href="http://cfpb.github.io/">CFPB</a>.</p>
    <p><a href="{{ site.repos[0].url }}/edit/18f-pages/{{ page.path }}">Edit this page</a> or <a href="{{ site.repos[0].url }}/issues">file an issue</a> on GitHub.</p>
  </div><!--/.wrap -->
</footer>
