      </div>
    </div>
  </div>
<!-- Google Analytics -->
    <script>
     <!-- Put your personalized analytics script here -->
    </script>
    <script type="text/javascript">
    /*****************
       Set active tab
    *****************/
    (function(){
      var pageTitle = $(document).find("title").text();
      pageTitle = pageTitle.substring(0,pageTitle.indexOf(' - '));
      $('nav li a:contains('+pageTitle+')')
        .attr('title','Selected Page')
        .parent()
          .addClass('active');
    })();
    </script>
  </body>
</html>
