---
---

@import "guides_style_18f";

tbody th {
  background: #ffffff;
  color: #000000;
  text-align: left;
  font-weight: normal;
}

.highlight .m {
  color: #007B7D;
}

.highlight .nb {
  color: #0077A1;
}
