<form accept-charset="UTF-8" action="https://search.usa.gov/search" class="usa-search usa-search-small js-search-form" method="get">
  <input name="utf8" type="hidden" value="&#x2713;"/>
  <input id="affiliate" name="affiliate" type="hidden" value="{{ site.search_site_handle }}"/>
  <div role="search">
    <label class="usa-sr-only" for="query">Enter Search Term(s):</label>
    <input autocomplete="off" class="usagov-search-autocomplete" id="query" name="query" type="search"/>
    <button type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </div>
</form>
